@font-face { font-family: Nexa; src: url('Nexa Light.otf'); }
 @font-face { font-family: Nexa; font-weight: bold; src: url('Nexa Bold.otf');}

body {
	text-align: center;
    font-family: Nexa, sans-serif;
    font-size: 16px;
    background-color: white;
    color: #00001a;
    padding: 3px;

}


aside {
	font-family: Nexa, sans-serif;
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}

section {
  float: center;
    width:65%;
    /*float:left;*/
    /*padding-left:230px;
	padding-right:230px;*/
}

rightaside {
	text-align:right;
  font-size: 12px;

}

h1 {
	text-align: center;
    font-family: Nexa, sans-serif;
    background-color: #ff3a00;
    color: #996600;
    font-size: 30px;
}
